# MLAH Week 3 Lab - Data Preparation I
In this session we will focus on data input and output using __Pandas__.

In [ ]:
#Your code goes here

## Task 1. Reading Data in Text Format
__Pandas__ features a number of functions for reading tabular data as a DataFrame object, `read_csv` and `read_table` are the ones that we will be using the most. 

As data in the real world can be messy, some of the data loading functions (especially `read_csv`) have grown very complex in their options over time. The online __Pandas__ [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) has details and examples about how each of them works, so if you are struggling to read a particular file, there might be a similar enough example to help you find the right parameters.

Some of these functions, like `pandas.read_csv`, perform *type inference*, because the column data types are not part of the data format. This means you do not necessarily have to specify which columns are numeric, integer, boolean, or string. Other data formats, like HDF5, Feather, and msgpack, have the data types stored in the format.

### 1.1 Import Pandas into your project

In [2]:
import pandas as pd

### 1.2 Use `read_csv` to load data files

Handling dates and other custom types can require extra effort. Let us start with a small comma-separated (CSV) text file. 

*   Load the *ex1.csv* dummy data into a named `DataFrame`. Check [Doc](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) if you need some help (The example is at the bottom of the page)
*   Display the table
*   Compare the `DataFrame` with the raw csv file. Think about how this raw csv text file has been formatted into a `DataFrame`

In [4]:
df = pd.read_csv('ex1(2).csv')
df

# converted first row in the raw file as coulmms

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 1.3 Use `read_table` to load the same csv data file


*   Load the same *ex1.csv* dummy data into another named `DataFrame` by using `read_table`
*   List item
*   If you get a different `DataFrame` format compared with above, you may forget to specifiy the _Delimiter_. CSV files use ',' to seperate columns but `read_table` uses `Tab`('\t') by default. In [Doc](https://pandas.pydata.org/docs/reference/api/pandas.read_table.html), please check how to define _Delimiter_ for CSV files.
*   Make sure your `DataFrame` in this step is the same as using `read_csv`

In [12]:
df = pd.read_table('ex1(2).csv',sep=",")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields. We can still use `sep=` options but pass the __regular expression__ instead. 

Check [Doc](https://docs.python.org/3/library/re.html) and some [examples](https://www.w3schools.com/python/python_regex.asp) for more information about the __reguluar expression__



*   Check *ex3.txt* raw file. The fields here are separated by a variable amount of whitespace. In these cases, you can pass a regular expression `\s+`
*   Notice that there was one fewer column name than the number of data rows, `read_table` infers that the first column should be the DataFrame’s index in this special case.

In [11]:
df = pd.read_csv('ex3(1).csv')
print(df)
df = pd.read_table('ex3(1).csv',sep='\s+')
df

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

### 1.4 Read files without headers
A file will not always have a header row. Check the raw *ex2.csv* file, the first row is not the header row.

`read_csv` will recognise the first row as header by default. To ignore the headers, use `header = None` as part of the parameters. 

*   Load *ex2.csv* by using `load_csv`
*   Make sure the headers are ignored

In [14]:
df = pd.read_csv('ex2(2).csv', header=None)
print(df)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

You can use `names=[your name list]` optional parameters to specify headers for this file.
*  Specify the headers with your own __String List__

In [16]:
df = pd.read_csv('ex2(2).csv', names=['A', 'B', 'C', 'D','Message'])
print(df)

   A   B   C   D Message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 1.5 Skip rows

Many data sheets contains unwanted data. You can skip certain rows of a file with `skiprows` options


*   Use `skiprows=[the row index to skip]` to skip the first, third and fourth rows when reading *ex4.csv*
*   Display the table

In [19]:
df = pd.read_csv('ex2(2).csv', names=['A', 'B', 'C', 'D','Message'], skiprows=[0,1])
print(df)

   A   B   C   D Message
0  9  10  11  12     foo

## 2. Data Cleaning

Sometimes the way that data is stored in files or databases is not in the correct format, for a particular task. 

Fortunately, pandas, along with the built-in Python language features, provide you with a high-level, flexible, and fast set of tools to enable you to manipulate data into the right form.

If you identify a type of data manipulation that is not anywhere in this notebook or elsewhere in the pandas library, feel free to share your use case on the Pandas GitHub site. Indeed, much of the design and implementation of Pandas has been driven by the needs of real-world applications.

### 2.1 Filtering Out Missing Data

As we mentioned in the lecture, you should always assume your dataset has missing data. One common practice is to drop out the missing data from your dataset. In __Pandas__, you can use `DataFrame.dropna` [Doc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html).  



> As a side note, you always have the option to do it from lower level function and indexing methods by hand using `pandas.isnull` and __boolean indexing__ see this [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing) for more about boolean indexing. You can check the same page for more advanced indexing techniques. 

We will use the following `data` example for this practice

In [22]:
import pandas as pd
from numpy import nan
data = pd.DataFrame([[1., 6.5, 3.], [1., nan, nan],
                     [nan, nan, nan], [nan, 6.5, 3.]])
print(data)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0



*   `dropna` is an `DataFrame` object function, call this funtion from the above `data` object
*   Keep the "cleaned" output somewhere else and display it
*   Compare with the `data`, what has been dropped?

In [23]:
print(data.dropna())

     0    1    2
0  1.0  6.5  3.0



*   Passing `how='all'` will only drop rows that are all NA

In [24]:
print(data.dropna(how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

By default, the function will drop rows. If you want to drop columns, you can pass `axis = 1` in the functions optional parameters


> Many functions use `axis` to indicate whether the operation is on the __rows__ or __columns__

In [26]:
print(data.dropna(axis=0))

     0    1    2
0  1.0  6.5  3.0

Suppose you want to keep only rows containing a certain number of observations. You can also set up `thresh` to indicate this. For example:

In [27]:
import numpy as np

df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = nan
df.iloc[:2, 2] = nan
df

          0         1         2
0 -0.601208       NaN       NaN
1  1.088973       NaN       NaN
2  0.745216       NaN -0.763046
3 -0.486688       NaN -0.252708
4  1.304592 -0.110849 -1.167648
5 -0.082620  0.050120  0.775816
6 -0.261405 -0.125117  1.046331



*   Test `thresh = X` (you can try X=1,2,3 or 4) in the `dropna` function and compare the output


> Tip: Combine `axis = 1` will set up this threshold for columns

In [43]:
# non-NA values
print(df.dropna(thresh=3, axis=0))

          0         1         2
4  1.304592 -0.110849 -1.167648
5 -0.082620  0.050120  0.775816
6 -0.261405 -0.125117  1.046331

### 2.2 Filling In Missing Data

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. For most purposes, the `fillna` method is the workhorse function to use [Doc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html). Calling `fillna` with a constant replaces missing values with that value

Let's still use `df` from previous example



*   Fill the NaN of `df` with a constant replacement (such as 0)
*   Display the filled new `DataFrame`


> Calling `fillna` with a `dict` ([Doc](https://www.w3schools.com/python/python_dictionaries.asp)), you can use a different fill value for each column. For example `
` means fill column 1 with 0.5 and column 2 with 1

In [48]:
print(df.fillna({1:0, 2:0}))

          0         1         2
0 -0.601208  0.000000  0.000000
1  1.088973  0.000000  0.000000
2  0.745216  0.000000 -0.763046
3 -0.486688  0.000000 -0.252708
4  1.304592 -0.110849 -1.167648
5 -0.082620  0.050120  0.775816
6 -0.261405 -0.125117  1.046331

You can also fill holes (*i.e.* a part of the column are all NaN) by using 
* `method='ffill'` : propagate last valid observation forward to next valid observation.  
* `method='bfill'` : use next valid observation to fill gap backwards.

In [51]:
print(df.fillna(method='ffill'))

          0         1         2
0 -0.601208       NaN       NaN
1  1.088973       NaN       NaN
2  0.745216       NaN -0.763046
3 -0.486688       NaN -0.252708
4  1.304592 -0.110849 -1.167648
5 -0.082620  0.050120  0.775816
6 -0.261405 -0.125117  1.046331

## 3 Replacing Values

Filling in missing data with the `fillna` method is a special case of more general value replacement. In this task, we will use `replace` [Doc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) to provide a simpler and more flexible way to replace values.

Let us considering the following dummy `Seriers`, which is similar to `DataFrame` but it only contains one column

In [52]:
import pandas as pd
data = pd.Series([1., -999.,2.,-999,-1000,3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

The -999 values might be sentinel values for missing data. To replace these with NaN values that pandas understands, we can use replace, producing a new Series (unless you pass `inplace=True`):


*   Use `replace(to_replace=XXX, value=YYY)` to replace -999 by NaN
*   Display your results
*   (You may need to import numpy.nan first)

We can also use, `replace`  with `list` and `dict`, and `to_replace=` and `value=` parameters to have powerful replacement operations. Please check the offical link from [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html). Check all their examples, especially the cases with `Strings`

## 4. Clean Sheffield House Price Dataset

The House Price Dataset, we cerated last session needs __a lot of__ cleaning. 
*   Load the data to a `DataFrame`
*   Use `DataFrame` memtober `dtypes` to check the data type of each column. (You may not want to see the price data to be String/Object, can you figure out the reason?)
*   You can always monitor the `dtypes` after each operation
*   Create your data preparation process by using __Pandas__ functions 

---

Some recommended processing


*   Change the long headers (be programmer friendly )
*   Remove/fill/replace missing data from 'Size (Sq M)'
*   Change the data type of 'Number of Bedrooms' to integer
*   Simplify the items in the 'House Type'
*   Formating the Price. You can use the `replace` method with regular expression. You can also try some [alternative method](https://pbpython.com/currency-cleanup.html)
*   Formatting the 'Postcode', for example, to only show area code. For some extra reading, please check this [wiki](https://en.wikipedia.org/wiki/Postcodes_in_the_United_Kingdom#Validation). It is not required for our task but it is always good to learn new things!