# Machine Learning Assignment

#### <div style="text-align: right">WOORAM JUNG(c1032849)</div>

### Table of Contents in this project
* [1 Data Exploration](#heading_1)
    * [1.1 Cleaning and pre-processing](#heading_1_1)
    * [1.2 Section](#heading_1_2)
        * [1.2.1 Section](#heading_1_2_1)
        * [1.2.2 Section](#heading_1_2_2)
        * [1.2.3 Section](#heading_1_2_3)
* [2 Feature analysis](#heading_2)
    * [2.1 Section](#heading_2_1)
    * [2.2 Section](#heading_2_2) 
* [3 Machine Learning](#heading_3)
    * [3.1 Section](#heading_2_1)
    * [3.2 Section](#heading_2_2) 
* [4 Evaluation](#heading_4)

### 1 Data Exproration <a class="anchor" id="heading_1"></a>
#### 1.1 Cleaning and pre-processing <a class="anchor" id="heading_1_1"></a>

In [5]:
import pandas as pd
df = pd.read_csv('cwdata.csv')
print(df)
df.shape()

     Income Post-code Employed Home Owner   Education Gender Balance Age  \
0     10500        C4      NaN          N      School      F     300  25
1     26525        G5        Y          N     College   Male    3500  25
2      8230        A1        N          N      School      F    1250  25
3     25000        S5        N          N          U       F    6755  19
4     15250        G7       No          N      School   Male     810  23
..      ...       ...      ...        ...         ...    ...     ...  ..
115   45050        G8        Y          Y  University   Male   54500  54
116   11250        D4        N          N      School      F    3250  29
117    7450        D1        N          N        Coll   Male    4560  19
118   12250        F5        N          N        Uni       F     300  25
119    8450       NaN        N          N           S      M    2455  23

     Colour Fraud
0    Yellow     N
1     Green     N
2       Red     1
3    Yellow     Y
4       Red     Y
..      ...   ...
115  Yellow     N
116     Red     1
117     Red     Y
118  Yellow     N
119     Red     Y

[120 rows x 10 columns]

TypeError: 'tuple' object is not callable

In [4]:
"""
find missing data in this result shows that 
'Post-code','Employed','Home Owner','Education','Gender' and 'Balance' 
columns have missing data
"""
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Income      120 non-null    int64
 1   Post-code   119 non-null    object
 2   Employed    118 non-null    object
 3   Home Owner  117 non-null    object
 4   Education   117 non-null    object
 5   Gender      118 non-null    object
 6   Balance     119 non-null    object
 7   Age         120 non-null    object
 8   Colour      120 non-null    object
 9   Fraud       120 non-null    object
dtypes: int64(1), object(9)
memory usage: 9.5+ KB

In [6]:
"""
Income is the only numeric data
and 50% and mean value is some diffrent why?
"""
df.describe()

              Income
count     120.000000
mean    32803.166667
std     26920.705770
min      5450.000000
25%     12340.000000
50%     24225.000000
75%     45050.000000
max    150600.000000

In [7]:
"""
missing data of the each columns
"""
df.isnull().sum()

Income        0
Post-code     1
Employed      2
Home Owner    3
Education     3
Gender        2
Balance       1
Age           0
Colour        0
Fraud         0
dtype: int64

In [9]:
df.columns

Index(['Income', 'Post-code', 'Employed', 'Home Owner', 'Education', 'Gender',
       'Balance', 'Age', 'Colour', 'Fraud'],
      dtype='object')