# Machine Learning Assignment

#### <div style="text-align: right">WOORAM JUNG(c1032849)</div>

### Table of Contents in this project
* [1 Data Exploration](#heading_1)
    * [1.1 Cleaning and pre-processing](#heading_1_1)
    * [1.2 Section](#heading_1_2)
        * [1.2.1 Section](#heading_1_2_1)
        * [1.2.2 Section](#heading_1_2_2)
        * [1.2.3 Section](#heading_1_2_3)
* [2 Feature analysis](#heading_2)
    * [2.1 Section](#heading_2_1)
    * [2.2 Section](#heading_2_2) 
* [3 Machine Learning](#heading_3)
    * [3.1 Section](#heading_2_1)
    * [3.2 Section](#heading_2_2) 
* [4 Evaluation](#heading_4)

### 1 Data Exproration <a class="anchor" id="heading_1"></a>
#### 1.1 Cleaning and pre-processing <a class="anchor" id="heading_1_1"></a>

In [55]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
df = pd.read_csv('cwdata.csv')
encoder = LabelEncoder()
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [56]:
def printDataInfo(data):
    print("-------------------------------------------------------------------\n")
    print(data.isnull().sum())
    print("-------------------------------------------------------------------\n")
    data.info()
    print("-------------------------------------------------------------------\n")
    data.dtypes
    print("-------------------------------------------------------------------\n")
    print(data.info())
    print("-------------------------------------------------------------------\n")
    print("-------------------------------------------------------------------\n")
    print(data.var())
    print("-------------------------------------------------------------------\n")
    print(data)

printDataInfo(df)

-------------------------------------------------------------------

Income        0
Post-code     1
Employed      2
Home Owner    3
Education     3
Gender        2
Balance       1
Age           0
Colour        0
Fraud         0
dtype: int64
-------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Income      120 non-null    int64
 1   Post-code   119 non-null    object
 2   Employed    118 non-null    object
 3   Home Owner  117 non-null    object
 4   Education   117 non-null    object
 5   Gender      118 non-null    object
 6   Balance     119 non-null    object
 7   Age         120 non-null    object
 8   Colour      120 non-null    object
 9   Fraud       120 non-null    object
dtypes: int64(1), object(9)
memory usage: 9.5+ KB
-------------------------------------------------------------------

-------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Income      120 non-null    int64
 1   Post-code   119 non-null    object
 2   Employed    118 non-null    object
 3   Home Owner  117 non-null    object
 4   Education   117 non-null    object
 5   Gender      118 non-null    object
 6   Balance     119 non-null    object
 7   Age         120 non-null    object
 8   Colour      120 non-null    object
 9   Fraud       120 non-null    object
dtypes: int64(1), object(9)
memory usage: 9.5+ KB
None
-------------------------------------------------------------------

-------------------------------------------------------------------

Income    7.247244e+08
dtype: float64
-------------------------------------------------------------------

     Income Post-code Employed Home Owner   Education  Gender Balance Age  \
0     10500        C4      NaN          N      School       F     300  25
1     26525        G5        Y          N     College    Male    3500  25
2      8230        A1        N          N      School       F    1250  25
3     25000        S5        N          N          U        F    6755  19
4     15250        G7       No          N      School    Male     810  23
5     42000        H3        Y        Yes  University       F   12000  54
6    125500        R5        Y        Yes     College    Male   76540  25
7     12500        E2        N          N           S       F    4500  24
8     76300        D3       No          N  University  Female   55030  65
9     12340        S1        N          N      School       M     550  28
10   150600        C4      Yes          Y      School       M  240000  25
11    21500        C3        N          N          S     Male     120  28
12    15000        D4        N          N      School       F    4300  25
13     6550        F2        N         No        Coll       F    5235  21
14    52000        H1      Yes          Y          S   Female   67850  45
15    45000        W7      Yes          N      School       F   32250  55
16    12300        D8        N          N          C        F     365  23
17    35200        H1        N          N        Uni        M    7650  72
18    45500        C9        N          N      School       F   23650  33
19    32250        B2        N          N     College       M   15425  25
20    15230        N4        N        NaN         NaN    Male          32
21    17890        B6        N          N          C        F    1245  26
22    34560        J5        N        Yes      School  Female   21765  56
23    43235        D7      Yes          N       Coll        F   34835  25
24    18500        B9       No          N     College       F    3455  25
25    23450        S9        N          N      School    Male     340  27
26    10300        S3        N          N      School       F    3590  21
27    54560        D3        Y          Y        Uni     Male   12225  32
28    46540        V5      Yes          N      School       M   31350  54
29     5450        B6       No          N  University       M    2350  21
30    95500        N8        N          N      School    Male   87650  25
31    47650        M2        N          Y       Coll   Female   65040  45
32    12345        M1       No          N      School       F       0  23
33    75430        B5        N          N      School       M   66545  27
34    54350        F7      NaN          N  University  Female   43575  53
35    42130        F3        N        NaN      School       F     650  32
36    12340        G7        N          N          C        F     540  24
37    63225        C1        N          N      School  Female   34545  45
38    32450        N2       No        Yes        Uni      NaN   15455  65
39    31240        V1        N        Yes      School       M    3240  25
40    21500        K6        N         No       Coll        M     435  19
41    45050        D8        Y        Yes      School       F    9875  28
42    11250        C6        N          N      School  Female    1235  25
43     7450        B1        N          N        Uni        F     120  35
44    15600        A3        N        NaN      School       F       0  24
45    46530        V5        N        Yes      School  Female   54345  25
46    22450        S9        N          N      School    Male    3460  18
47    18650        A4        N          N        Coll    Male    2900  25
48    68540        N5        Y          Y          S        M   34500  25
49    54350        H5        N          N        Uni   Female      65  32
50    32480        N2      Yes          N  University       F       0  25
51    84560        M2        N          Y      School       F     435  25
52     8650        G5        N          N       Coll     Male          21
53    37650        J8        N        Yes          S        M    4560  25
54    47650        L3        Y        Yes       Coll   Female          34
55    12345        P8        N          N      School       F    3245  25
56    76300        L2      Yes          Y  University       F      50  28
57    12340        C6        N          N      School       M    2345  28
58   150600        N3        Y          Y     College    Male   12345  54
59    21500        B5        N          N          S        M     320  28
60    15000        C4       No          N      School    Male    1255  65
61     6550        V3        N          N         NaN       F       0  45
62    52000        C2        N          N          S     Male          25
63    45000        N5        Y        Yes  University  Female   12350  25
64    12300        J5        N          N      School       M     450  18
65    35200        S7        Y          N        Uni   Female    5475  25
66    12340        M5        N          N          C     Male    1230  26
67    63225        N8      Yes          Y      School    Male   45670  43
68    32450        B7      Yes        Yes        Uni     Male   12340  25
69    31240        G5        N          Y      School       M     540  52
70    21500        D7        N          N       Coll   Female    1240  25
71    45050        K5        Y          Y      School       F    3500  43
72    11250        L2        N          Y        Uni        F   23000  46
73     7450        F6        N          N           S    Male     345  23
74    15600        D6        N          N      School  Female    3100  25
75    16530        R6        N          N     College    Male    4450  21
76    22450        F8        N          N       Coll        M    2325  27
77    45000        C4        Y          Y           U       M    3200
78    12300        B7        N          N      School       F    2395  25
79    35200        N3      Yes          Y        Uni     Male    5645  41
80    12340        M2        N          N          C        M    1250  25
81    63225        H3        Y          N      School       M   24500  25
82    32450        F9        Y          Y        Uni     Male    4500  54
83    31240        G4        Y          N      School  Female          54
84    12450        R8        N          N           S  Female    4560  25
85    21500        E6        N          N       Coll     Male    3250  24
86    45050        D4        N          Y      School       M   45000  54
87    11250        C8        N          N        Coll  Female     300  29
88    21500        B5        N          N          S      NaN    3450  28
89    15000        C4        N          N      School       F     300  25
90     6550        V5        N          N     College    Male     420  21
91    52000        A7      Yes          Y          S   Female   21400  34
92    45000        J2      Yes          Y           U    Male     300  65
93    12300        B5        N          N      School       M    2350  25
94    35200        M2        N          N        Uni        M    4500  29
95     5500        F8        N          N      School       F    4590  23
96    32250        G5      Yes          Y        Uni     Male   52000  34
97    11250        B8        N          N      School       F    4500  22
98     7450        M2        N          N           S    Male    2350  25
99    15600        L3        N          N       Coll   Female     150  18
100   46530        T6        Y          Y        Coll       M   30000  25
101   22450        E7        N          Y              Female    5400  36
102   45000        F7        Y        Yes      School    Male   54500  25
103   12340        H3        N          N      School    Male     300  21
104   35200        T9        Y          Y        Uni     Male   43000  25
105   68540        C5      Yes        Yes         Uni       F   56500  37
106   54350        C9        N          Y         Uni  Female    4300  54
107   32480        G3      Yes          N         NaN       M   25450  33
108   84560        T5        Y          Y           U       M   23000  54
109    8650        N6        N          N      School    Male     545  19
110   37650        B3        N          N          S        M     300  43
111    9225        S2        N          N      School  Female    4535  25
112   32450        A5        Y          Y        Uni        F     NaN  43
113   12400        W3       No          N      School       F    1200  23
114   21500        V5        N          N       Coll        M    2345  21
115   45050        G8        Y          Y  University    Male   54500  54
116   11250        D4        N          N      School       F    3250  29
117    7450        D1        N          N        Coll    Male    4560  19
118   12250        F5        N          N        Uni        F     300  25
119    8450       NaN        N          N           S       M    2455  23

     Colour Fraud
0    Yellow     N
1     Green     N
2       Red     1
3    Yellow     Y
4       Red     Y
5    Yellow     N
6       Red     N
7       Red   Yes
8    Purple     N
9       Red   Yes
10     Blue    No
11      Red     1
12      Red     Y
13      Red     1
14     Blue     N
15    Green     0
16      Red     1
17     Blue    No
18    Green     N
19   Purple     0
20   Yellow     N
21      Red     N
22    Green     N
23    Green    No
24      Red     Y
25      Red     Y
26      Red     1
27   Yellow     N
28     Blue     N
29      Red     Y
30    Green     N
31   Yellow     N
32      Red   Yes
33     Pink     0
34   Yellow    No
35     Blue     N
36      Red   Yes
37   Yellow     N
38     Blue     0
39   Yellow     N
40      Red     Y
41     Blue     N
42      Red     1
43     Blue     N
44      Red   Yes
45    Green     N
46      Red     Y
47      Red     Y
48    Green     0
49   Yellow    No
50     Blue     N
51     Pink     N
52      Red   Yes
53     Pink     N
54   Yellow     N
55      Red     Y
56   Yellow     N
57      Red   Yes
58     Pink    No
59      Red     1
60      Red     Y
61   Yellow     N
62   Purple     N
63     Blue    No
64      Red     Y
65   Yellow     N
66      Red   Yes
67    Green     N
68   Purple     0
69    Green    No
70      Red     Y
71   Yellow     N
72     Blue     N
73      Red     Y
74      Red     1
75      Red     1
76      Red     Y
77   Yellow     N
78      Res   Yes
79     Blue     N
80      Red     Y
81    Green     N
82   Yellow     N
83   Yellow     N
84      Red     Y
85      Red   Yes
86     Pink     N
87      Red     Y
88      Red     1
89      Red   Yes
90      Red   Yes
91   Yellow     N
92     Blue     N
93      Red     1
94    Green     N
95      Red     Y
96   Yellow     0
97      Red     Y
98      Red     Y
99      Red     1
100   Green     N
101  Yellow     0
102    Blue     N
103     Red     Y
104    Pink     N
105    Pink     N
106  Yellow     N
107  Yellow     N
108    Blue     N
109     Red     Y
110  Yellow     N
111     Red     Y
112    Pink     N
113     Red     N
114     Red   Yes
115  Yellow     N
116     Red     1
117     Red     Y
118  Yellow     N
119     Red     Y

/tmp/ipykernel_56657/3422171183.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(data.var())

In [57]:
# handle inconsistencies in variable and fill in missing values with the mode (most frequent value)
df['Education'] = df['Education'].str.strip()
df['Education'] = df['Education'].replace({
    'School': 'S', 
    'College': 'C',
    'Coll': 'C',
    'University': 'U',
    'Uni': 'U',
    '': np.nan})
df['Education'] = df['Education'].fillna(df['Education'].mode().iloc[0])
# transform to numuric data
df['Education'] = encoder.fit_transform(df['Education'].values)
# print(df['Education'])

In [58]:
# handle inconsistencies in variable and fill in missing values with the mode (most frequent value)
df['Employed'] = df['Employed'].fillna(df['Employed'].mode().iloc[0])
df['Employed'] = df['Employed'].replace({'Yes': 'Y', 'No': 'N'})
# transform to numuric data
df['Employed'] = encoder.fit_transform(df['Employed'].values)
# print(df['Employed'])

In [59]:
# handle inconsistencies in variable and fill in missing values with the mode (most frequent value)
df['Home Owner'] = df['Home Owner'].fillna(df['Home Owner'].mode().iloc[0])
df['Home Owner'] = df['Home Owner'].replace({'Yes': 'Y', 'No': 'N'})
# transform to numuric data
df['Home Owner'] = encoder.fit_transform(df['Home Owner'].values)
# print(df['Home Owner'])

In [60]:
# handle inconsistencies
df['Fraud'] = df['Fraud'].replace({ 'No': 'N',  'Yes': 'Y','1':'Y','0':'N'})
# transform to numuric data
df['Fraud'] = encoder.fit_transform(df['Fraud'].values)
# print(df['Fraud'])

In [61]:
# handle inconsistencies
df['Gender'] = df['Gender'].fillna(df['Gender'].mode().iloc[0])
df['Gender'] = df['Gender'].replace({'Male':'M','Female':'F' })
# transform to numuric data
df['Gender'] = encoder.fit_transform(df['Gender'].values)
# print(df['Gender'] )

In [62]:
# fill in missing value with median and convert numuric value
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].fillna(df['Age'].median()).round(0)
# print(df['Age'])

In [63]:
# Fill in missing values with the mean and change string to float
df['Balance'] = pd.to_numeric(df['Balance'], errors='coerce')
df['Balance'] = df['Balance'].fillna(df['Balance'].mean()).round(0)
# print(df['Balance'])

In [64]:
# Fill in missing values with the mode
df['Post-code'] = df['Post-code'].fillna(df['Post-code'].mode().iloc[0])
# transform to numuric data
df['Post-code'] = encoder.fit_transform(df['Post-code'].values)
# print(df['Post-code'])

In [65]:
# handle inconsistencies
df['Colour'] = df['Colour'].replace({'Res':'Red'})
# transform to numuric data
df['Colour'] = encoder.fit_transform(df['Colour'].values)

In [66]:
# Save for backup
# df.to_csv('cleaned_data.csv', index=False)

In [67]:
#show all cleaned data
printDataInfo(df)

-------------------------------------------------------------------

Income        0
Post-code     0
Employed      0
Home Owner    0
Education     0
Gender        0
Balance       0
Age           0
Colour        0
Fraud         0
dtype: int64
-------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Income      120 non-null    int64
 1   Post-code   120 non-null    int64
 2   Employed    120 non-null    int64
 3   Home Owner  120 non-null    int64
 4   Education   120 non-null    int64
 5   Gender      120 non-null    int64
 6   Balance     120 non-null    float64
 7   Age         120 non-null    float64
 8   Colour      120 non-null    int64
 9   Fraud       120 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 9.5 KB
-------------------------------------------------------------------

-------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Income      120 non-null    int64
 1   Post-code   120 non-null    int64
 2   Employed    120 non-null    int64
 3   Home Owner  120 non-null    int64
 4   Education   120 non-null    int64
 5   Gender      120 non-null    int64
 6   Balance     120 non-null    float64
 7   Age         120 non-null    float64
 8   Colour      120 non-null    int64
 9   Fraud       120 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 9.5 KB
None
-------------------------------------------------------------------

-------------------------------------------------------------------

Income        7.247244e+08
Post-code     4.862268e+02
Employed      2.117647e-01
Home Owner    2.212185e-01
Education     4.703081e-01
Gender        2.521008e-01
Balance       8.049783e+08
Age           1.601569e+02
Colour        2.915336e+00
Fraud         2.476190e-01
dtype: float64
-------------------------------------------------------------------

     Income  Post-code  Employed  Home Owner  Education  Gender   Balance  \
0     10500         16         0           0          1       0     300.0
1     26525         39         1           0          0       1    3500.0
2      8230          0         0           0          1       0    1250.0
3     25000         68         0           0          2       0    6755.0
4     15250         40         0           0          1       1     810.0
5     42000         43         1           1          2       0   12000.0
6    125500         62         1           1          0       1   76540.0
7     12500         27         0           0          1       0    4500.0
8     76300         22         0           0          2       0   55030.0
9     12340         65         0           0          1       1     550.0
10   150600         16         1           1          1       1  240000.0
11    21500         15         0           0          1       1     120.0
12    15000         23         0           0          1       0    4300.0
13     6550         30         0           0          0       0    5235.0
14    52000         42         1           1          1       0   67850.0
15    45000         78         1           0          1       0   32250.0
16    12300         26         0           0          0       0     365.0
17    35200         42         0           0          2       1    7650.0
18    45500         20         0           0          1       0   23650.0
19    32250          6         0           0          0       1   15425.0
20    15230         57         0           0          1       1   15275.0
21    17890          9         0           0          0       0    1245.0
22    34560         46         0           1          1       0   21765.0
23    43235         25         1           0          0       0   34835.0
24    18500         12         0           0          0       0    3455.0
25    23450         70         0           0          1       1     340.0
26    10300         67         0           0          1       0    3590.0
27    54560         22         1           1          2       1   12225.0
28    46540         76         1           0          1       1   31350.0
29     5450          9         0           0          2       1    2350.0
30    95500         60         0           0          1       1   87650.0
31    47650         53         0           1          0       0   65040.0
32    12345         52         0           0          1       0       0.0
33    75430          8         0           0          1       1   66545.0
34    54350         34         0           0          2       0   43575.0
35    42130         31         0           0          1       0     650.0
36    12340         40         0           0          0       0     540.0
37    63225         13         0           0          1       0   34545.0
38    32450         55         0           1          2       0   15455.0
39    31240         74         0           1          1       1    3240.0
40    21500         49         0           0          0       1     435.0
41    45050         26         1           1          1       0    9875.0
42    11250         18         0           0          1       0    1235.0
43     7450          5         0           0          2       0     120.0
44    15600          1         0           0          1       0       0.0
45    46530         76         0           1          1       0   54345.0
46    22450         70         0           0          1       1    3460.0
47    18650          2         0           0          0       1    2900.0
48    68540         58         1           1          1       1   34500.0
49    54350         44         0           0          2       0      65.0
50    32480         55         1           0          2       0       0.0
51    84560         53         0           1          1       0     435.0
52     8650         39         0           0          0       1   15275.0
53    37650         47         0           1          1       1    4560.0
54    47650         51         1           1          0       0   15275.0
55    12345         61         0           0          1       0    3245.0
56    76300         50         1           1          2       0      50.0
57    12340         18         0           0          1       1    2345.0
58   150600         56         1           1          0       1   12345.0
59    21500          8         0           0          1       1     320.0
60    15000         16         0           0          1       1    1255.0
61     6550         75         0           0          1       0       0.0
62    52000         14         0           0          1       1   15275.0
63    45000         58         1           1          2       0   12350.0
64    12300         46         0           0          1       1     450.0
65    35200         69         1           0          2       0    5475.0
66    12340         54         0           0          0       1    1230.0
67    63225         60         1           1          1       1   45670.0
68    32450         10         1           1          2       1   12340.0
69    31240         39         0           1          1       1     540.0
70    21500         25         0           0          0       0    1240.0
71    45050         48         1           1          1       0    3500.0
72    11250         50         0           1          2       0   23000.0
73     7450         33         0           0          1       1     345.0
74    15600         24         0           0          1       0    3100.0
75    16530         63         0           0          0       1    4450.0
76    22450         35         0           0          0       1    2325.0
77    45000         16         1           1          2       1    3200.0
78    12300         10         0           0          1       0    2395.0
79    35200         56         1           1          2       1    5645.0
80    12340         53         0           0          0       1    1250.0
81    63225         43         1           0          1       1   24500.0
82    32450         36         1           1          2       1    4500.0
83    31240         38         1           0          1       0   15275.0
84    12450         64         0           0          1       0    4560.0
85    21500         28         0           0          0       1    3250.0
86    45050         23         0           1          1       1   45000.0
87    11250         19         0           0          0       0     300.0
88    21500          8         0           0          1       0    3450.0
89    15000         16         0           0          1       0     300.0
90     6550         76         0           0          0       1     420.0
91    52000          4         1           1          1       0   21400.0
92    45000         45         1           1          2       1     300.0
93    12300          8         0           0          1       1    2350.0
94    35200         53         0           0          2       1    4500.0
95     5500         35         0           0          1       0    4590.0
96    32250         39         1           1          2       1   52000.0
97    11250         11         0           0          1       0    4500.0
98     7450         53         0           0          1       1    2350.0
99    15600         51         0           0          0       0     150.0
100   46530         72         1           1          0       1   30000.0
101   22450         29         0           1          1       0    5400.0
102   45000         34         1           1          1       1   54500.0
103   12340         43         0           0          1       1     300.0
104   35200         73         1           1          2       1   43000.0
105   68540         17         1           1          2       0   56500.0
106   54350         20         0           1          2       0    4300.0
107   32480         37         1           0          1       1   25450.0
108   84560         71         1           1          2       1   23000.0
109    8650         59         0           0          1       1     545.0
110   37650          7         0           0          1       1     300.0
111    9225         66         0           0          1       0    4535.0
112   32450          3         1           1          2       0   15275.0
113   12400         77         0           0          1       0    1200.0
114   21500         76         0           0          0       1    2345.0
115   45050         41         1           1          2       1   54500.0
116   11250         23         0           0          1       0    3250.0
117    7450         21         0           0          0       1    4560.0
118   12250         32         0           0          2       0     300.0
119    8450         16         0           0          1       1    2455.0

      Age  Colour  Fraud
0    25.0       5      0
1    25.0       1      0
2    25.0       4      1
3    19.0       5      1
4    23.0       4      1
5    54.0       5      0
6    25.0       4      0
7    24.0       4      1
8    65.0       3      0
9    28.0       4      1
10   25.0       0      0
11   28.0       4      1
12   25.0       4      1
13   21.0       4      1
14   45.0       0      0
15   55.0       1      0
16   23.0       4      1
17   72.0       0      0
18   33.0       1      0
19   25.0       3      0
20   32.0       5      0
21   26.0       4      0
22   56.0       1      0
23   25.0       1      0
24   25.0       4      1
25   27.0       4      1
26   21.0       4      1
27   32.0       5      0
28   54.0       0      0
29   21.0       4      1
30   25.0       1      0
31   45.0       5      0
32   23.0       4      1
33   27.0       2      0
34   53.0       5      0
35   32.0       0      0
36   24.0       4      1
37   45.0       5      0
38   65.0       0      0
39   25.0       5      0
40   19.0       4      1
41   28.0       0      0
42   25.0       4      1
43   35.0       0      0
44   24.0       4      1
45   25.0       1      0
46   18.0       4      1
47   25.0       4      1
48   25.0       1      0
49   32.0       5      0
50   25.0       0      0
51   25.0       2      0
52   21.0       4      1
53   25.0       2      0
54   34.0       5      0
55   25.0       4      1
56   28.0       5      0
57   28.0       4      1
58   54.0       2      0
59   28.0       4      1
60   65.0       4      1
61   45.0       5      0
62   25.0       3      0
63   25.0       0      0
64   18.0       4      1
65   25.0       5      0
66   26.0       4      1
67   43.0       1      0
68   25.0       3      0
69   52.0       1      0
70   25.0       4      1
71   43.0       5      0
72   46.0       0      0
73   23.0       4      1
74   25.0       4      1
75   21.0       4      1
76   27.0       4      1
77   25.0       5      0
78   25.0       4      1
79   41.0       0      0
80   25.0       4      1
81   25.0       1      0
82   54.0       5      0
83   54.0       5      0
84   25.0       4      1
85   24.0       4      1
86   54.0       2      0
87   29.0       4      1
88   28.0       4      1
89   25.0       4      1
90   21.0       4      1
91   34.0       5      0
92   65.0       0      0
93   25.0       4      1
94   29.0       1      0
95   23.0       4      1
96   34.0       5      0
97   22.0       4      1
98   25.0       4      1
99   18.0       4      1
100  25.0       1      0
101  36.0       5      0
102  25.0       0      0
103  21.0       4      1
104  25.0       2      0
105  37.0       2      0
106  54.0       5      0
107  33.0       5      0
108  54.0       0      0
109  19.0       4      1
110  43.0       5      0
111  25.0       4      1
112  43.0       2      0
113  23.0       4      0
114  21.0       4      1
115  54.0       5      0
116  29.0       4      1
117  19.0       4      1
118  25.0       5      0
119  23.0       4      1